[[ -f /etc/profile.d/palette.sh ]] && . /etc/profile.d/palette.sh

GET_PALETTES_CMD="fd --hidden --follow --exclude \".git\" . /etc/palettes | xargs -I % basename %|sort -u"
FZF_INFO="--info=inline"
FZF_HEADER="--header \"Welcome to fzf\" --header-first --header-lines=3 "
FZF_PROMPT="--prompt 'foo> ' \
 --bind $'ctrl-a:change-prompt:\x1b[31mbar> '\
 --bind $'ctrl-b:change-prompt:\x1b[24mfoo> '"
GLOBAL_FZF_ARGS="--preview-window follow"

FZF_PREVIEW="--preview-window top:border-horizontal"
FZF_PREVIEW="--preview-window top:border-bottom"
FZF_PREVIEW="--preview-window border-left --border horizontal"
FZF_PREVIEW="--preview-window border-left"

FZF_COLOR="--color fg:yellow,fg+:bright-yellow"

FZF_BORDER="--border "

FZF_BINDS="--bind 'ctrl-e:execute(find /etc)"
FZF_SCROLL="--scroll-off=5"

FZF_SIZE="--reverse --height 30%"

DEFAULT_FZF_MARGINS="--margin 5% --padding 5%"
DEFAULT_FZF_BORDER="--border"

FZF_VIM_CMD='ls | fzf --bind "enter:execute(vim {})"'
export FZF_COMPLETION_TRIGGER='~~'






QUERY=dark

export FZF_DEFAULT_OPTS="--height 50% --layout=reverse --border --query=$QUERY -i --layout=reverse --bind 'change:reload:$RG_PREFIX {q} || true' --ansi --disabled $FZF_BINDS $FZF_HEADER"
export FZF_DEFAULT_COMMAND="$GET_PALETTES_CMD"
